<div class="breadcrumbs w-full bg-gray-100 relative overflow-hidden">
  <div class="container mx-auto w-full py-3 px-3 md:px-0">
    <nav class="w-full breadcrumbs flex items-center" role="navigation" aria-label="navigation">
      <a href="{{ routes.root_url }}" class="text-sm">Home</a>
      <span class="pl-3 pr-3">{% render 'icon_chevron' %}</span>
      {% if collection.url -%}
        <a href="{{ routes.collections_url }}" class="text-sm">Collections</a>
        <span class="pl-3 pr-3">{% render 'icon_chevron' %}</span>
        <span class="text-sm">{{ collection.title }}</span>
      {% elsif template == 'list-collections' %}
        <span class="text-sm">Collections</span>
      {% elsif product.url %}
        <a href="{{ routes.all_products_collection_url }}" class="text-sm">Products</a>
        <span class="pl-3 pr-3">{% render 'icon_chevron' %}</span>
        <span class="text-sm" style="text-transform:capitalize">{{ product.title }}</span>
      {% elsif page.url %}
        <span class="text-sm" style="text-transform:capitalize">{{ page.title }}</span>
      {% elsif blog.url %}
        {% if article.url %}
          <a href="{{ blog.url }}" class="text-sm">{{ blog.title }}</a>
          <span class="pl-3 pr-3">{% render 'icon_chevron' %}</span>
          <span class="text-sm" style="text-transform:capitalize">{{ article.title }}</span>
        {% else %}
          <span class="text-sm" style="text-transform:capitalize">{{ blog.title }}</span>
        {% endif %}
      {% endif %}
    </nav>
  </div>
</div>
{% style %}
  .breadcrumbs {
    background-color: {{ settings.breadcrumbs_bg_color }};
    color: {{ settings.breadcrumbs_fnt_color }};
  }
{% endstyle %}
