<div class="w-full max-w-sm rounded-xl place-self-center shadow-xl mb-8">
  <div class="image overflow-hidden rounded-t-2xl">
    <img
      src="{{ product.featured_image | img_url: 'medium' }}"
      alt="{{ product.featured_image.alt }}"
      class="w-full object-cover object-center  duration-1000 ease-in-out hover:scale-105 transform"
    >
  </div>
  <div class="product-info flex flex-col p-5 justify-center text-center">
    <h1 class="text-gray-600 font-medium text-xl">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h1>
    <div class="price text-gray-600">
      {{ product.price | money_with_currency }}
    </div>
  </div>
</div>
