{{ 'header.css' | asset_url | stylesheet_tag }}
{% assign se_stts = section.settings %}
{% assign sid = section.id %}
<div class="header">
  <div class="container">
    <nav>
      <div class="logo">
        <div class="logo-img">
          <img
            src="{{ se_stts.logo | image_url: width: se_stts.logo.width }}"
            alt="{{ se_stts.logo.alt | escape }}"
          >
        </div>
      </div>
      <div class="links">
        <ul class="nav-links">
          {% for link in linklists['main-menu'].links -%}
            <li class="{% if link.links != blank %}nested{% endif %}">
              {{ link.title | link_to: link.url }}
              {% if link.links != blank %}
                {% for child in link.links -%}
                  <ul class="child">
                    <li>
                      {{ child.title | link_to: child.url }}
                    </li>
                  </ul>
                {% endfor %}
              {% endif %}
            </li>
          {%- endfor %}
        </ul>
      </div>
      <div class="account">
        {%- if shop.customer_accounts_enabled -%}
          <ul>
            {%- if customer -%}
              <li>
                <a href="/account">Account</a>
              </li>
              <li>
                {{ 'Log out' | customer_logout_link }}
              </li>
            {%- else -%}
              <li>
                <a href="/account" id="customer_login_link">{% render : 'icon_user' %}</a>
              </li>
              <li>
                {{ 'Create account' | customer_register_link }}
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </nav>
  </div>
</div>
{% style %}
  div.header .logo-img {
  width: 100%;
  max-width: {{ se_stts.max_width }};
  }
{% endstyle %}
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "max_width",
      "default": "200px",
      "label": "Max width"
    }
  ]
}
{% endschema %}
